<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        llego por ventas por cliente en detalle
    salesForCustomerDetail
    </h1>
    
    <%= detail.cantidadFrascos %>
</body>
</html>