<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo de ciclo for en EJS </title>
</head>
<body>
    <h1>Registrate</h1>
    <form action="POST">
        <label for="">Nombre</label>
        <input type="text" name="nombre">
        <p>hobbies</p>
        <% for( let i = 0; i < 10; i++ ) { %>
            <label for="">Hobbie nro: <%= i+1 %> </label>
                <input type="text" name=" hobies">
            <% } %> 
    </form>
</body>
</html>