<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/headBootStrap.ejs') %> 
    <title>Nuve -Ventas</title>
    
</head>
<body>
    <%- include('partials/header.ejs') %> 
    <%- include('partials/bootstrapScript.ejs')  %> 
    <section class="mainSectionSales">
  
      <div class="one">
        <ul class="nav flex-column">
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li> -->
            <li class="nav-item"><h4>
            
              <a class="nav-link" href="/Sales/salesForCustomer">Cliente</a>
            </h4>
            </li>
            <li class="nav-item">
              <h4><a class="nav-link" href="/Sales/salesForMonth">Mes</a></h4>
            </li>
            <li class="nav-item">
                <h4><a class="nav-link" href="/Sales/salesForYear">Año</a></h4>
            </li>
            <li class="nav-item">
                <h4><a class="nav-link" href="/Sales/salesForRecipe">Receta</a></h4>
            </li>
            <li class="nav-item">
                <h4><a class="nav-link" href="/Sales/salesForFlavor">Aroma</a></h4>
            </li>
           
          </ul>
      </div>
      <div class="two">
       
          
        </div>

    </section>
      
</body>
</html>